*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Ruda', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
}

html{
    scroll-behavior: smooth;
}
/* Header section styling */

#header{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}

.navbar1{
    padding: 0px 50px;
    height: 65px;
}

.nav-heading{
    font-weight: bold;
    font-size: 25px;
}


/* main section */
#main{
    position: relative;
}

.carousel-caption h5{
    font-weight: 700;
}

.carousel-caption h5, .carousel-caption p{
    color: white;
}


/* flex division section */
#flex-division{
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.famous-tour{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
    margin: 50px 0px;
}

.famous-tour .image img{
    height: 200px;
    width: 300px;
}

.famous-tour .tour-desc{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.famous-tour .tour-desc p{
    width: 70%;
}

.famous-tour .image{
    display: flex;
    justify-content: center;
}

/* Photo gallery section */

#photo-gallery{
    height: 850px;
    width: 100%;
}

.photo-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;  
    padding: 10px;
}

.photo-container .item{
    height: 200px;
}

.photo-container img{
    height: 200px;
    width: 300px;
}

.img-1{
    grid-row: 1 / span 2;
}

.img-1 > img{
    height: 410px;
}

.img-4, .img-7{
    grid-column: 4 / span 2;
}

.img-4 > img, .img-7 > img{
    width: 400px;
}
.img-8{
    grid-row: 3 / span 2;
}

.img-8 > img{
    height: 400px;
}
.img-9{
    grid-column: 2 / span 4;
}

.img-9 > img {
    height: 400px;
    width: 1020px;
}


/* Tour card section */
#tour-card{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 19rem;
    height: 420px;
}

.card-text{
    font-size: small;
}

.card-title{
    font-weight: bold;
}

.card img{
    height: 200px;
    width: 302px;
}

.card-cta-btn:hover, .btt-btn:hover, .c-btn:hover{
    background-color: black;
    font-weight: bold;
}

/* Footer section */

#footer{
    height: 300px;
    background-color: #f1f3f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.upper-footer{
    display: flex;
    justify-content: space-around;
}

.ul-heading h5, .ml-heading h5, .contact-heading h5{
    font-weight: bold;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.lower-footer{
    display: flex;
    justify-content: center;
}

.copyright-btn{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.copyright{
    display: flex;
    align-items: center;
    width: 50%;
    gap: 5px;
}

.cp-text{
    display: flex;
    align-items: center;
    height: 50px;
}

.cp-btn{
    display: flex;
    align-items: center;
}





/* Responsive to website */

@media only screen and (min-width:320px) and (max-width:768px){

    .navbar1 {
        padding: 0px 50px;
        height: 65px;
    }

    #main{
        top: 60px;
    }

    #flex-division{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 1700px;
    }

    .famous-tour{
        width: 120%;
    }

    #photo-gallery{
        height: 650px;
    }
    .img-1, .img-8{
        height: 100px;
        width: 60px;
    }

    .img-2, .img-3, .img-6, .img-4, .img-7{
        height: 45px;
        width: 65px;    
    }

    .img-5{
        height: 45px;
        width: 65px;    
        background-size: 65px 45px;
    }

    .img-9{
        height: 100px;
        width: 222px;
        background-size: 222px 100px;
    }

    .img-8{
        background-size: 60px 100px;
    }

    .img-7{
        background-size: 65px 45px;
    }

    #tour-card{
        flex-direction: column;
        justify-content: flex-start;
        gap:10px;
        height: 1400px;
    }

    #footer{
        height: 600px;
        padding: 20px;
    }
    .upper-footer{
        flex-direction: column;
        gap: 20px;
    }

    .lower-footer{
        flex-direction: column;
        gap: 10px;
    }

    .copyright-btn{
        flex-direction: column;
        gap: 10px;
    }

    .copyright{
        width: 100%;
        font-size: 10px;
        gap: 10px;
    }
}
